/* Background Image for Every Page */
/* html {
    height: 100%;
} */

body{
    background-image: url("../Assets/Images/intersection.png") !important;
    background-size: 400px !important;
    background-repeat: repeat !important;
    bottom: -40;
    height: 100%;

}

#footP {
    margin-bottom: 0;
}
h1, h2, h3{
        font-family: 'Georgia', Times, Times New Roman, serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
    margin-bottom: -100px;
    padding-bottom: 100px;
    margin-top: 0;
  }

/* Attempts to make this footer stick to the bottom failed */
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: gray;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #8cd3de;
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 0;
    clear: both;
}

/* Nav Bar Styling */
.navbar {
    padding: 0 !important;
    background-color: white !important;
}
.nav-pills > li > a.active {
    background-color: #8cd3de !important;
}
#navbartitle{
    background-color: #8cd3de;
    margin: 0px;
    padding: 10px;
}
#topbar{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: gray;
}

/* About Me Page */

#profile{
    margin-right: 10px;
    margin-bottom: 10px;
}
#main{
    margin-top: 15px;
    margin-bottom: 20%;
}
#sectioncontents{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
#cardcontents{
    padding: 10px;
    text-align: center;
}

/* Portfolio and Contact Pages */
#form{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    padding: 10px;
}

/* Portfolio Page  */
i{
    margin: 2px;
    color:  #8cd3de;
}

i:hover{
    color: gray;
}

.portfolioheader{
    background-color: #8cd3de;
    padding: 10px;
    width: 250px;
    position: absolute;
    bottom: 2px;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    text-align: center;
}

.portfolioimage{
    width: 250px;
    height: 250px;
    margin-top: 10px;
}
